@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

@import './helpers/mixins';
@import './helpers/variables';

@import './components/header';
@import './sections/hero';
@import './sections/slider';

.container {
  max-width: 1110px;
  margin: 0 auto;
}

html,
body {
  background-color: $bg-body;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body._lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
header {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
  font-weight: 700;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.33%
}