@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
.wrapper {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding-top: 51px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__phone {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 2px solid #D1A954;
  padding-bottom: 5px;
}
.header__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
}
.header__link {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color 0.2s linear;
  margin-right: 63px;
}
.header__link:hover {
  color: #D1A954;
}
.header::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.header__burger {
  display: none;
}

.menu-social {
  display: none;
}

.sidebar {
  display: none;
}

.fixed-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(51, 51, 51, 0.75);
  padding-bottom: 86px;
}
.fixed-panel__text {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  width: 300px;
  bottom: 550px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__link {
  width: 26px;
  height: 26px;
  -o-object-position: center;
     object-position: center;
}
.social__link:not(:last-child) {
  margin-bottom: 30px;
}

.social::before {
  content: "";
  width: 3px;
  height: 80px;
  background-color: #C4C4C4;
  margin-bottom: 30px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/main.jpg") center/cover no-repeat;
}
.hero__phone {
  z-index: 3;
  display: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 2px solid #D1A954;
  padding-bottom: 5px;
}
.hero__row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__item {
  display: flex;
  justify-content: space-between;
}
.hero__title {
  padding-top: 280px;
  margin-bottom: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__subtitle {
  margin-bottom: 50px;
  width: 540px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.hero__button {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 47px;
  background: #D1A954;
  outline: none;
  border: 3px solid transparent;
  transition: 0.3s;
}
.hero__button:hover {
  color: #D1A954;
  background-color: transparent;
  border-color: #D1A954;
}
.hero__button:hover path {
  fill: #D1A954;
}
.hero__slider {
  margin-top: 100px;
  margin-right: 75px;
  position: relative;
}

.slider {
  margin-top: 150px;
}
.slider .swiper {
  max-width: 370px;
}
.slider .swiper img {
  width: 350px;
  height: 490px;
}
.slider .swiper-prev__navigation-prev {
  display: flex;
  color: #C4C4C4;
  position: absolute;
  right: 0;
  left: 29px;
  top: 540px;
}
.slider .swiper-prev__navigation-prev::after {
  font-size: 25px;
}
.slider .swiper-prev__navigation-prev span::before {
  content: " ";
  position: absolute;
  left: -43px;
  bottom: 21px;
  height: 0px;
  width: 50px;
  background-color: #C4C4C4;
  border: 1.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
}
.slider .swiper-prev__navigation-prev p {
  padding-left: 60px;
  order: 1;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}
.slider .swiper-next__navigation-next {
  display: flex;
  color: #C4C4C4;
  position: absolute;
  right: 50px;
  top: 540px;
}
.slider .swiper-next__navigation-next::after {
  font-size: 25px;
}
.slider .swiper-next__navigation-next span::before {
  content: " ";
  position: absolute;
  left: 20px;
  bottom: 21px;
  height: 0px;
  width: 50px;
  background-color: #C4C4C4;
  border: 1.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
}
.slider .swiper-next__navigation-next p {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  padding-right: 60px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
}
.about__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__title p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.about h3 {
  margin-bottom: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text-center {
  margin-bottom: 100px;
}
.text-center h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}
.text-center span {
  color: #FFFFFF;
}

.about__number {
  padding: 0 30px;
}
.about__number-text p {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #D1A954;
}
.about__number-text span {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.projects {
  margin-top: 150px;
}
.projects__title {
  margin-bottom: 80px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}
.projects__title span {
  color: #FFFFFF;
}
.projects-slider {
  padding-left: 190px;
  overflow: hidden;
}
.projects-slider__subtitle {
  position: absolute;
  padding-left: 40px;
  padding-top: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.3s;
}
.projects-slider__date {
  position: absolute;
  left: -20px;
  bottom: 100px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(-90deg);
  transition: 0.3s;
}
.projects-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.projects-slider__but {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D1A954;
  border: none;
  border-radius: 50%;
  padding: 35px;
  transition: 0.3s;
  opacity: 0;
}
.projects-slider__but:hover {
  background-color: #b8860b;
}

.swiper-projects {
  flex: 0 0 445px;
  height: 550px;
  position: relative;
}
.swiper-projects::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
  transition: 0.3s;
}
.swiper-projects:hover::before {
  opacity: 0;
}
.swiper-projects:hover .projects-slider__subtitle {
  opacity: 0;
}
.swiper-projects:hover .projects-slider__date {
  opacity: 0;
}
.swiper-projects:hover .projects-slider__but {
  opacity: 1;
}

.raiting {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}
.raiting__container {
  max-width: 1110px;
  margin: 0 auto;
}
.raiting__row {
  background: url(../img/raiting.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 126px 110px 126px 190px;
}
.raiting__years {
  margin-left: 20px;
}
.raiting__years a {
  width: 182px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}
.raiting__content p {
  width: 550px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-left: 50px;
}
.raiting__stars {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
}
.raiting__img {
  margin-right: 25px;
  margin-bottom: 30px;
}

.partners {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}
.partners h2 {
  margin-bottom: 100px;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}
.partners span {
  color: #FFFFFF;
}
.partners__item {
  padding-left: 30px;
  margin-bottom: 80px;
}
.partners__row {
  display: flex;
  flex-wrap: wrap;
}

.row-phone {
  display: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

html,
body {
  background-color: #333333;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body._lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
header {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
  font-weight: 700;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}/*# sourceMappingURL=index.css.map */