.contacts {
  margin-top: 60px;
  h2 {
    margin-bottom: 100px;
    @include font(48px, 65px);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $text-orange;
  }
  span {
    color: $text-white;
  }

  &__row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    &__list {
      width: 100%;
    }
    &__item {
      margin: 20px 20px 30px 10px;
      a {       
        @include font(16px, 22px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $text-white;
      }
    }
    }

    &-info {
      width: 40%;
      &__title {
        margin-top: 20px;
        @include font2(12px, 18px);
        color: $color-light-gray;
        width: 390px;
      }
      &__item {
        input {
          margin: 20px;
          background: #444444;
          border: 1px solid #616161;
          width: 180px;
          height: 35px;
          outline: none;
          border-bottom-width: 2px;
          padding-left: 15px;
          transition: all 0.3s ease;
          color: $text-white;
          &:hover {
            color: $text-orange;
            background-color: transparent;
            border-color: $text-orange;
          }
          &:hover path {
            fill: $text-white;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
          }
          &[type="number"] {
          -moz-appearance: textfield; 
  
        }
        }
        
      }
    }
  
    &-messange {
      &__sms {
        margin-top: 20px;
        input {
          width: 310px;
          height: 110px;
          background: #444444;
          border: 1px solid #616161;
          border-bottom-width: 2px ;
          padding-left: 15px;
          transition: 0.3s;
          color: $text-white;
          outline: none;
          &:hover {
            color: $text-orange;
            background-color: transparent;
            border-color: $text-orange;
          }
          &:hover path {
            fill: $text-orange;
          }
        }
      }
      &__button {
        margin-top: 40px;
        margin-left: 110px;
        @include font(18px, 25px);
        display: inline-block;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;
        padding: 17px 47px;
        background: $bg-orange;
        outline: none;
        border: 3px solid transparent;
        transition: 0.3s;
        &:hover {
          color: $text-orange;
          background-color: transparent;
          border-color: $text-orange;
        }
        &:hover path {
          fill: $text-orange;
        }
      }
    }
  }

  

