.projects {
  margin-top: 150px;
  &__title {
    margin-bottom: 80px;
    @include font(48px, 65px);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $text-orange;
    span {
      color: $text-white;
    }
  }

  &-slider {
    padding-left: 190px;
    overflow: hidden;

    &__subtitle {
      position: absolute;
      padding-left: 40px;
      padding-top: 30px;
      @include font(24px, 33px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-white;
      transition: 0.3s;
    }

    &__date {
      position: absolute;
      left: -20px;
      bottom: 100px;
      @include font(18px, 25px);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $text-white;
      transform: rotate(-90deg);
      transition: 0.3s;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s;
    }

    &__but {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $bg-orange;
      border: none;
      border-radius: 50%;
      padding: 35px;
      transition: 0.3s;
      opacity: 0;
      &:hover {
        background-color: #b8860b;
      }
    }
  }
}

.swiper-projects {
  flex: 0 0 445px;
  height: 550px;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 0.65),
      rgba(51, 51, 51, 0.65)
    );
    transition: 0.3s;
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover .projects-slider__subtitle {
    opacity: 0;
  }
  &:hover .projects-slider__date {
    opacity: 0;
  }
  &:hover .projects-slider__but {
    opacity: 1;
  }
}
