@mixin font ($size, $lh: 0.1){
        font-family: 'Open Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: $size;
        line-height: $lh;  
}

@mixin font2 ($size, $lh){
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $size;
        line-height: $lh;  
}


@mixin font3 ($size, $lh){
        font-family: 'Open Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: $size;
        line-height: $lh;  
}