
$text-black: #000;
$text-white:#FFFFFF;
$text-orange:#D1A954;
$text-gray: #C4C4C4;


$bg-orange:#D1A954;
$bg-gray: #C4C4C4;
$bg-black: #000;
$bg-body: #333333;
$bg-white: #fff;


$color-white:#fff;
$color-light-gray:#989898;